#  Local .terraform directories
**/.terraform/*
Makefile
tfplan.out

# .tfstate files
*.tfstate
*.tfstate.*

# asdf tool-versions
.tool-versions

# generated dbt config files
dbt_config.sh
kots_install.sh
config.yaml

.DS_Store
